.digitalCard {
  height: 100vh;

  .whatsapp {
    font-size: 12px;
  }

  .phone {
    font-size: 12px;
  }

  .actions {
    font-size: 9px;
  }

  @include media-breakpoint-up(sm) {
    .whatsapp {
      font-size: 14px;
    }

    .phone {
      font-size: 14px;
    }

    .actions {
      font-size: 11px;
    }
  }
}