// ------------------------------------------------------------------------------
// Author: GuilhermeSantos001
// Updated: 29/12/2021
//

button:disabled,
a:disabled,
textarea:disabled,
input:disabled {
  cursor: not-allowed;
}

input[type='file'] {
  cursor: pointer;
}

html {
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -o-transition: all 5s ease;
  transition: all 5s ease;
}

.bg-light-gray {
  background-color: map-get($theme-colors, 'light-gray');
}
.bg-dark-gray {
  background-color: map-get($theme-colors, 'dark-gray');
}

.text-light-gray {
  color: map-get($theme-colors, 'light-gray');
}
.text-dark-gray {
  color: map-get($theme-colors, 'dark-gray');
}

.animation-delay {
  -webkit-transition: 0.1s ease-in; /* Safari */
  transition: 0.1s ease-in;
  -webkit-transition-delay: 0.1s; /* Safari */
  transition-delay: 0.1s;
}

.fade-effect {
  @extend .animation-delay;

  &.active {
    visibility: visible;
    opacity: 1;
    animation: fadeInDown;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    transition: opacity 2s linear;
  }
  &.deactivate {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation: fadeOutUp;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    transition: visibility 0s 2s, opacity 2s linear;
  }
}

.hover-color {
  cursor: pointer;

  &.active {
    color: map-get($theme-colors, 'secondary');
  }

  &:hover {
    color: map-get($theme-colors, 'secondary');
  }
}

.hover-color-scrollToTop {
  cursor: pointer;

  color: map-get($theme-colors, 'secondary');

  &:hover {
    color: map-get($theme-colors, 'light-gray');
  }
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.avatar {
  vertical-align: middle;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.pg-loading-screen.pg-loading .pg-loading-logo-header,
.pg-loading-screen.pg-loading .pg-loading-html:not(.pg-loaded) {
  -webkit-animation: pgAnimLoading 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: pgAnimLoading 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
}

.transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cursor-pointer {
  cursor: pointer;
}

.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.list-style-none {
  list-style: none;
  list-style-type: none;
  padding-left: 0px;
}

.menuItem {
  cursor: pointer;
  text-decoration: none;
  color: map-get($theme-colors, 'light-gray');

  &.active {
    color: map-get($theme-colors, 'secondary');
  }
  &.disabled {
    @extend .text-white, .opacity-50;

    cursor: not-allowed;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $primary;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: $gray-300;
}

*::-webkit-scrollbar-thumb {
  background-color: $primary;
}
