// ------------------------------------------------------------------------------
// Author: GuilhermeSantos001
// Updated: 09/12/2021
//

.menuAction-icon {
  @extend .animation-delay,
    .fs-6,
    .flex-shrink-1,
    .text-primary;

  cursor: pointer;

  &.dropdown {
    @extend .ms-0, .me-2, .text-white;
  }
  &.enable {
    &:hover {
      @extend .text-secondary;

      transform: scale(1.5);
    }
  }
  &.disable {
    @extend .text-muted;
  }
}

.menuAction-box {
  @extend .animation-delay;

  &.active {
    visibility: visible;
    opacity: 1;
    animation: fadeInDown;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    transition: opacity 2s linear;
  }
  &.deactivate {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation: fadeOutUp;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    transition: visibility 0s 2s, opacity 2s linear;
  }
}
