// ------------------------------------------------------------------------------
// Author: GuilhermeSantos001
// Updated: 21/09/2021
//

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.nav-item {
  cursor: pointer;
  font-size: small;
}
