// ------------------------------------------------------------------------------
// Author: GuilhermeSantos001
// Updated: 09/12/2021
//

.twofactor-bg {
  z-index: 9999;
  height: 100vh;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.5);

  &.active {
    visibility: visible;
    opacity: 1;
    animation: fadeIn;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    transition: opacity 2s linear;
  }
  &.deactivate {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation: fadeOut;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    transition: visibility 0s 2s, opacity 2s linear;
  }
}

.twofactor {
  &.active {
    visibility: visible;
    opacity: 1;
    animation: fadeInDown;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    transition: opacity 2s linear;
  }
  &.deactivate {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation: fadeOutUp;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    transition: visibility 0s 2s, opacity 2s linear;
  }
}
